<html lang="en">
<head>
  <title>Vladislav Bakin's profile</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="//fonts.googleapis.com/css?family=Roboto&display=swap"
        rel="stylesheet"/>
</head>
<body>

<div class="container">
  <div class="body">
    <div class="photo">
      <img src="<%= require('public/avatar.jpg') %>" alt="Vladislav Bakin"/>
    </div>
    <div class="main">
      <h1>Vladislav Bakin</h1>
      <h2>Entrepreneur</h2>
      <div>Located in Saint-Petersburg</div>

      <div class="social-icon-list">
        <a rel="nofollow" href="https://www.facebook.com/v.bakin">
          <img
            class="social-icon"
            src="<%= require('public/icons/logo-facebook.inline.svg') %>"
            alt="Facebook"
          />
        </a>

        <a rel="nofollow" href="https://www.linkedin.com/in/vladislavbakin">
          <img
            class="social-icon"
            src="<%= require('public/icons/logo-linkedin.inline.svg') %>"
            alt="LinkedIn"
          />
        </a>

        <a rel="nofollow" href="https://www.instagram.com/mixkorshun">
          <img
            class="social-icon"
            src="<%= require('public/icons/logo-instagram.inline.svg') %>"
            alt="Instagram"
          />
        </a>

        <a rel="nofollow" href="https://github.com/mixkorshun">
          <img
            class="social-icon"
            src="<%= require('public/icons/logo-github.inline.svg') %>"
            alt="GitHub"
          />
        </a>

      </div>
    </div>
  </div>
</div>
</body>
</html>
