:root {
  --font-family: 'Helvetica', Arial, sans-serif;

  --font-size-regular: 16px;

  --font-size-h1: 40px;
  --font-size-h2: 20px;

  --font-weight-normal: 400;
  --font-weight-medium: 700;
  --font-weight-bold: 700;

  --text-color-dark: #000;
  --text-color-regular: rgba(0, 0, 0, .88);
  --text-color-muted: rgba(0, 0, 0, .56);
  --text-color-disabled: rgba(0, 0, 0, .3);
}
